<div class="content">

     <form method="post" action="CreateCategory" enctype="multipart/form-data">
<div class="mb-3">
            <label for="Title" class="form-label">Title</label>
            <input class="form-control form-control-sm" type="text" placeholder="Category Title" aria-label="Category title" name="Name" id="Name" />
</div>
        <input type="submit" class="btn btn-primary" value="Create" />
    </form>
</div>