<div class="content">

    <form method="post" action="CreateActor" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="Title" class="form-label">Title</label>
            <input class="form-control form-control-sm" type="text" placeholder="Actor Name" aria-label="Actor Name" name="Name" id="Name" />
        </div>
        <div class="mb-3">
            <label for="File" class="form-label">File</label>
            <input type="file" placeholder=" Choose File" class="form-control" name="file22" id="File">
        </div>

        <input type="submit" class="btn btn-primary" value="Create" />
    </form>
</div>