@model Cinema.ViewModels.ApplicationUserVM

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content">


    <h2>User List</h2>
    <form asp-action="Create" method="post">

        <div class="mb-3">
            <label>Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label>Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label>Password</label>
            <input asp-for="NewPassword" type="password" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label>Role</label>
            <select asp-for="Role" asp-items="Model.Roles" class="form-control">
                <option value="">Select Role</option>
            </select>
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>

        <button class="btn btn-primary">Create User</button>
        <a asp-action="Index" class="btn btn-secondary">Back</a>

    </form>

</div>


